body{
  background: #f6f6f6;
}
/*nav*/
nav{
  position: fixed!important;
  z-index: 1001;
  top: 0;
  box-shadow: 0 0 1px rgba(0,0,0,0.25);
  background-color: rgba(255,255,255,0.95);
}
.navbar-default{
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.navbar-default a{
  color: #000!important;
}
.navbar-header button{
  border: none!important;
}
li a.router-link-exact-active.active {
  /*color: #5cb85c!important;*/
  /*background-color: #000000;*/
  color: #fff!important;
  background-color: #5cb85c;
}
.navbar-default .navbar-nav>li>a.router-link-exact-active.active:hover,.navbar-default .navbar-nav>li>a.router-link-exact-active.active:focus {
  color: #fff!important;
  background-color: #5cb85c;
}

.a_title {
  font-size: 16px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 8px 8px;
}

.btn-success {
  background-color: #5cb85c;
  color: #fff;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.dis_block {
  display: block;
}

.dropdown-menu {
  padding: 0;
}

.dataChoose {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}

.dataChoose i {
  text-align: center;
  display: inline-block;
  margin-right: 5px;
  width: 20px;
}

.dataChoose i.history {
  margin-right: 2px;
}

.dropdown-menu > li > a.aActive, .dropdown-menu > li > a.historyActive {
  background-color: rgb(92, 184, 92);
  color: #ffffff;
}

.pointer {
  cursor: pointer;
}

.dropSelects {
  margin-bottom: 5px;
  margin-top: 5px;
}

.dropSelects {
  padding: 3px 30px 3px 30px;
}

select, .dropLabel {
  font-size: 13px;
  background-color: #fff;
}

.button-font {
  font-size: 12px;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: -3px !important;
  height: 21px;
}

/* 地图 */

@media screen and (min-width: 450px) {
  #l-map {
    height: 700px;
    width: 100%;
  }
}

@media screen and (max-width: 449px) {
  #l-map {
    height: 550px;
    width: 100%;
  }
}

.BMap_bubble_title {
  text-align: center;
}

.map-table {
  width: 100%;
  height: 100px;
}

.map-table td {
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 33%;
}

.map-table td span {
  height: 100%;
  width: 90%;
  line-height: 34px;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  padding-top: 10px;
  background: #1163b9;
}

/*manage*/
.input_group .info {
  margin: 20px;
  font-size: 0;
}

.input_group span.edit_desc {
  width: auto;
  font-weight: normal;
}

.input_group input {
  border-radius: 4px 4px;
  margin: 0 0 0 10px;
  height: 36px;
  width: 240px;
  border: 1px solid #e6e6e6;
  outline: none;
  padding-left: 8px;
  font-size: 14px;
}

.input_group span {
  display: inline-block;
  width: 65px;
  font-weight: bold;
  font-size: 14px;
}

.submit {
  padding-left: 0 !important;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  background-color: #000000;
  color: #fff;
  height: 40px !important;
}

.err_info.info {
  margin-top: -15px;
  margin-bottom: -15px;
}

@media screen and ( max-width: 700px) {
  /*nav*/
  .dataChoose i {
    display: none;
  }

  .equip a {
    font-size: 12px;
  }
}
@media  screen and ( max-width: 991px) {
  .auto-padding {
    padding: 0!important;
  }
}

.admin,.user,#app{
  height: 100%;
}
