/*reset*/
.text_center {
  text-align: center;
}

/*content*/
/*main>content:登录组件*/

/*content_right*/
.reg_btn {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 36px;
  font-size: 14px;
  background-color: #FF6154;
  color: #fff;
}

 .back_Login {
  color: #aaa;
  font-size: 12px;
}

.back_Login:hover {
  color: #565656;
}


/*---------------------------------*/
/*reg*/
.reg_content input {
  height: 30px;
  width: 240px;
  margin: 8px 0 8px 0;
}

.reg_content span {
  margin: 0;
  font-size: 14px;
}

.reg_input {
  display: inline-block;
}

.reg_btn {
  border: none;
  width: 60px;
  height: 32px;
}

.reg_content_footer {
  height: 32px;
  margin-top: 5px;
  line-height: 32px;
  /*margin-bottom: 0;*/
}
#error {
  width: 228px;
  height: 16px;
  border: 1px solid #faccc6;
  padding: 3px 10px;
  margin: 5px 0;
  font-size: 12px;
  line-height: 16px;
  color: #e4393c;
  background: #ffebeb;
  border-radius: 2px 2px;
}

#error.error_reg {
  margin: -3px auto 0 auto;
}
